/*reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/



/*html anchor*/
img:not(.galleryImg){
	float: left;
	margin: 0px 10px;
}
body{
	margin: 0px;
	padding: 0px;
}
.leftlist input:focus, {
	border: 2px solid red;

}

/*index.php*/

/*header*/
.header{
	grid-area: header;
	background-color: white;
	border-top: 2px solid #8B0000; 
	border-bottom: 2px solid #8B0000;
	position: sticky;
	top:0px;

	z-index: 999;

}
.header .navBar{	
	position: relative;
	top:20%;
	width:90%;
	left:5%;

}
.header .navBar ul{
	color:white;
	list-style-type: none;
}
.header .navBar ul li{
	display: inline-block;

	position: relative;	
}
.header .navBar ul li a{
	text-decoration: none;	
	color: black;
	padding: 5px 30px;

	border-radius: 5px;

	font-size: 15px;
	font-family: "Futura";
	font-weight: bold;
	border:2px solid black;

}
.header .navBar ul li div{	
	min-width: 80px;
	max-width: 100px;
}
.header .navBar ul li .menuBar .menuImg{	
	position: relative;
	
	padding: 5px 30px;
}

.header .navBar ul .leftList{
	float: left;
}

.header .navBar ul .search{
	position: relative;
	border-radius: 4px;
	left:20px;
	bottom:5px;
	width: 200px;

	transition: width 1s ease-in-out;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    -ms-transition: width 1s ease-in-out;

}
.header .navBar ul .search:focus{
	width: 400px;
}

.header .navBar ul .rightList{
	float: right;
}
.header .navBar ul li .dropDown{	
	position: absolute;
	top: 20px;

}

.header .navBar ul li .dropDown a{
	position: relative;
	left:-100px;
	width: 200px;
	top:-20px;

	display: none;	
	z-index: 998;
	border:2px solid black;
	background-color: white;

	
}

 .header .navBar ul li .dropDown img{
 
 	display: none;	
	z-index: 998;
	border:2px solid black;
	background-color: white;		
 }


.header .navBar ul li a:hover, 
.header .navBar ul li img:hover .menuImg{
	transition-duration: 0.5s;
	-webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}
.header .navBar ul li a:hover, 
.header .navBar ul li img:hover .menuImg{
	background-color: #ddd;	
	border-bottom: 3px solid orange;
}


.header .navBar ul li:hover .dropDown a, 
.header .navBar ul li .dropDown img{
	display: block;
}



/*gallery*/
.gallery{
	grid-area: gallery;
	background-color: #eee;
	min-height: 250px;
	border-radius: 3px;
		
}
.gallery .slot{

	background-color: white;

	display: inline-block;
	vertical-align: top;
	
	width: 250px;
	height: 250px;
	margin: 2.5px 2.5px;

	position: relative;
}
.gallery .slot:hover{
	box-shadow: 2px 2px 2px #888888;
	border:0.5px outset #7ecdee;
	border-radius: 4px;
	box-sizing: border-box;

}
.gallery .slot .imgSlot{
	
	position: absolute;

	width: 200px;
	height: 160px;
	top:20px;
	left:25px;

	background-color: #eee;	
}

.gallery .slot .imgSlot .galleryImg{
	width: auto;
	height: auto;
	max-width: 60%;
	max-height: 60%;
	
	border-radius: 3px;

	position: absolute;
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);

}
.gallery .slot .descriptSlot{
	background-color: #ddd;
	position: absolute;
	width: 200px;
	height:50px;

	top:180px;
	left:25px;

	
}

.gallery .slot .descriptSlot .imgDescript{
	position: absolute;
	left:50%;
	top:0px;
	transform: translate(-50%, -50%);
}



/*footer*/
.footer{
	grid-area: footer;
}
/*banner*/
/*
 z-index:
 bannerImg: 2~5;
 leftArrow, rightArrow: 9;

 */

.banner{
	grid-area: banner;
	background-color: grey;
	
	
}
.banner .bannerContainer{
	width: 800px;
	height: 100%;
	background-color: white;

	position: relative;
	overflow: hidden;

	left:50%;

	border-radius: 10px;

	transform: translate(-50%,0%);
}

.banner .bannerContainer .bannerImg{
	box-sizing: border-box;

	width: 800px;
	height: 350px;
	
	margin: 0px;
	padding: 0px;
	border: 2px solid black;

}

.banner .bannerContainer .leftArrow{
	position: absolute;
	background-color: white;
	left:0px;
	top:50%;
	transform: translate(0%,-50%);

	z-index: 9;
	width: 60px;
	height: 60px;

	border:2px solid black;
	border-radius: 5px;
	box-sizing:border-box;

	padding:10px 10px;
}
.banner .bannerContainer .leftArrow:hover,
.banner .bannerContainer .rightArrow:hover{
	border-color: orange;
}

.banner .bannerContainer .rightArrow{
	position: absolute;
	background-color: white;
	right:0px;
	top:50%;
	transform: translate(0%,-50%);

	z-index: 9;
	width: 60px;
	height: 60px;

	border:2px solid black;
	border-radius: 5px;
	box-sizing:border-box;

	padding:10px 10px;
}

#banner1{
	
	position: absolute;
	left:-800px;
	
}
#banner2{

	position: absolute;
	left:0px;

}

#banner3{
	
	position: absolute;
	left:800px;

}

#banner4{
	
	position: absolute;
	left:1600px;


}

#leftBarButton:active{
	background-color: #ddd;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px #888888;

}

#leftBarButton{	
	padding:5px 5px;
	
	position: relative;
	bottom:5px;

	background-color: white;
	box-shadow: 2px 2px 2px #888888;

	border:2px solid black;
	border:0.5px outset #7ecdee;
	border-radius: 4px;	

	transition-duration: 0.1s;
	-webkit-transition-duration:0.1s;
    -moz-transition-duration:0.1s;
    -o-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;

}

.leftSidebar{
	grid-area:leftSidebar;
	width:0%;
	position: relative;
	left:-100%;

	border-right: 3px dotted black;
	background-color: #ccc;

	transition-duration: 0.5s;
	-webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}


.leftSidebar ul .cateList li a{
	margin: 25px 0px;
	position: relative;
	width: 90%;
	border:3px solid black;
	background-color: white;
}
/*wrapper*/
.wrapper{
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 200px;
	grid-template-rows: 50px 350px 1fr 1fr 1fr 1fr 300px;
	grid-template-areas: 
		"header header header header header"
	    "leftSidebar banner banner banner ."
	    "leftSidebar gallery gallery gallery ."
	    "leftSidebar gallery gallery gallery ."
	    "leftSidebar gallery gallery gallery ."
	    "leftSidebar gallery gallery gallery ."
	    "footer footer footer footer footer";
	background-color: #333;

}




.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}



/*login.php*//*login.php*//*login.php*//*login.php*//*login.php*/
/*login.php*//*login.php*//*login.php*//*login.php*//*login.php*/
/*login.php*//*login.php*//*login.php*//*login.php*//*login.php*/

.wrapper-login{
	display: grid;
	grid-template-columns: 50px 100px 1fr 250px 1fr 100px 50px;
	grid-template-rows: 50px 80px 1fr 300px;
	grid-template-areas: 
		"header header header header header header header"
		". . . . . . ."
	    ". . loginForm . registerForm . ."	    
	    "footer footer footer footer footer footer footer";
	background-color: #ebebfa;
}
/*loginForm*/
.loginForm{
	grid-area: loginForm;
	background-color: #EEE;
	position: relative;
	width: 100%;
	height: 70%;	
	border:3px outset #ddd;
	border-radius: 30px;
}

.loginForm h2, .registerForm h2{
	color: black;
	text-align: center;
	font-size: 30px;
	width:80%;
	position: relative;
	left:50%;
	transform: translate(-50%, 0%);
	padding: 10px 15px;
	background-color: #999;
	border-radius: 5px;

}

.loginForm .loginInput, .registerForm .regisInput{
	display: block;
	position: relative;
	width: 70%;
	left:10%;

	margin: 5% 0px;
	
	padding: 10% 3%;
	background-color: #ddd;
	
	border-radius: 5px;
	font-family:Arial Black;
	font-weight: bold;
}



.loginForm .loginInput .input, .registerForm .regisInput .input,
.loginForm .loginInput .leftBar, .registerForm .regisInput .leftBar{
	position: relative;
	top:-25px;
	width: 80%;
}

.loginForm .loginInput .btn, .registerForm .regisInput .btn{
	position: relative;
	left:50%;
	transform: translate(-50%,0%);
	padding: 10px 25px;
}

.loginForm .loginInput .leftBar, .registerForm .regisInput .leftBar,
 .registerForm .regisInput .checkbox{
	float: left;	
}

.loginForm .loginInput .input, .registerForm .regisInput .input,
 .registerForm .regisInput select, .registerForm .regisInput p{
	float: left;		
}

.registerForm .regisInput select{
	width:100px;
	position: relative;
	top:-10px;
}
.btn{
	border-radius: 10px;
	font-family:Arial Black;
	font-weight: bold;
}
.btn:hover{
	background-color: #5cd65c;
}

.loginForm input[class="input"]:focus, .registerForm input[class="input"]:focus{

	border-bottom: 5px solid blue;

}

/*registerForm*/
.registerForm{
	grid-area: registerForm;
	background-color: #ccccff;
	border:3px outset #ddd;
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.registerForm .inputLeftBar{
	background-color: #ccc;
	float:left;
	position: relative;
	width:15%;
	padding:25px 20px;

	border-radius: 5px;
}

.footer{

}

/*userprofile.php*//*userprofile.php*//*userprofile.php*//*userprofile.php*/
/*userprofile.php*//*userprofile.php*//*userprofile.php*//*userprofile.php*/
/*userprofile.php*//*userprofile.php*//*userprofile.php*//*userprofile.php*/
/*userprofile.php*//*userprofile.php*//*userprofile.php*//*userprofile.php*/

.wrapper-userProfile{
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: 50px 1fr 300px;
	grid-template-areas: 
		"header header header"
		". userProfile ."  
	    "footer footer footer";
	background-color: #ebebfa;
}

.userProfile{
	grid-area: userProfile;
	
}


/*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*/
/*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*/
/*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*/
/*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*//*fileu.php*/
.wrapper-fileu{
	display: grid;
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: 50px 600px 300px;
	grid-template-areas: 
		"header header header"
		". uploadForm ."  
	    "footer footer footer";
	background-color: #ebebfa;
}
.uploadForm{
	grid-area: uploadForm;
	background-color: #ddd;
	height:auto;
}
.uploadForm h2{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding:10px 10px;
	background-color: #ccc;
	border-bottom: 3px solid black;
}
.uploadForm .imgSlot{
	width:60%;
	height:40%;
	position: relative;
	left:50%;
	transform: translate(-50%,0%);
	background-color: #bbb;
	border-left: 3px solid black;
	border: 3px solid black;
}
.uploadForm #previewImg{
	max-width:80%;
	max-height:80%;
	position:relative;
	top:10%;
	left:50%;
	transform: translate(-50%,0%);

}
.uploadForm form{
	padding:50px 50px;
	position: absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,0%);
}

.uploadForm form imgUpload{
}