*{
	padding: 0px;
	margin:0px;
}
body{
	background-color:grey;
}
.main-banner{
	margin:0 auto;
	width: 800px;
	height: 400px; 
	background-color: #fff;
	
	position: relative;
	border-radius: 30px;
	overflow: hidden;
}
.main-banner .imgban{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition:all ease-in-out 500ms;
	-webkit-transition:all ease-in-out 500ms;
	-moz-transition:all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	
}
.main-banner #imgban4{
	background-image: url(../img/banner4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.main-banner #imgban3{
	background-image: url(../img/banner3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.main-banner #imgban2{
	background-image: url(../img/banner2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.main-banner #imgban1{
	background-image: url(../img/banner1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.leftArrow{
	position: absolute;
	width: 100;
	height: 100;
	top:150px;
	left:0px;
	background-color: rgba(255,255,255,0.5);;
	z-index: 1000;
	border-radius: 10px;
	
}
.rightArrow{
	position: absolute;
	width: 100;
	height: 100;
	top:150px;
	right:0px;
	background-color: rgba(255,255,255,0.5);
	z-index: 1000;
	border-radius: 10px;
	
}
.leftArrow div{
	position: absolute;
	width: 0px;
	height: 0px;
	top:0px;
	left:0px;
	background-color: transparent;
	z-index: 1001;
	border-style: ridge;
	border-width: 50 100 50 0;
	border-color: transparent rgba(0,0,255,0.5) transparent transparent;
	cursor: pointer;
	
}
.rightArrow div{
	position: absolute;
	width: 0px;
	height: 0px;
	right:0px;
	top:0px;
	bottom:auto;
	background-color:transparent;
	z-index: 1001;
	border-style: ridge;
	border-width: 50 0 50 100;
	border-color: transparent transparent transparent rgba(0,0,255,0.5);
	cursor: pointer;

}

.imgban h2{
	color: yellow;
	width: auto;
	height: auto;
	font-size: 30px;
	font-style: solid;
	position:absolute;
	top:50px;
	left:50px;
}